%{--<div id="rhf" class="copilot-secure-display" style="clear:both" role="complementary" aria-label="Your recently viewed items and featured recommendations">--}%

%{--    <div class="rhf-frame" style="display: block;">--}%
%{--        <br>--}%
%{--        <div id="rhf-container"><div class="rhf-border">--}%
%{--            <div id="rhf-shoveler">--}%
%{--                <div id="my-feature">--}%

%{--                </div>--}%


%{--                <!--rbd-->--}%

%{--                <div class="celwidget pd_rd_w-on3LJ pf_rd_p-6931e2a1-eabf-430f-9c86-72c4ad03fd1e pf_rd_r-8KR6S4K6NFEST7TEZ0TZ pd_rd_r-b2e71efc-c80c-488f-a838-c3e20875777b pd_rd_wg-o5CUV" cel_widget_id="desktop-rhf_rhf-purchase-sims-scf-div" data-cel-widget="desktop-rhf_rhf-purchase-sims-scf-div">--}%


























%{--                    <div data-a-carousel-options="{&quot;ajax&quot;:{&quot;params&quot;:{&quot;asinMetadataKeys&quot;:&quot;adId&quot;,&quot;widgetTemplateClass&quot;:&quot;PI::P13N::ViewTemplates::Carousel::Desktop&quot;,&quot;linkGetParameters&quot;:&quot;{\&quot;pd_rd_wg\&quot;:\&quot;o5CUV\&quot;,\&quot;pd_rd_r\&quot;:\&quot;b2e71efc-c80c-488f-a838-c3e20875777b\&quot;,\&quot;pf_rd_r\&quot;:\&quot;8KR6S4K6NFEST7TEZ0TZ\&quot;,\&quot;pf_rd_p\&quot;:\&quot;6931e2a1-eabf-430f-9c86-72c4ad03fd1e\&quot;,\&quot;pd_rd_w\&quot;:\&quot;on3LJ\&quot;}&quot;,&quot;productDetailsTemplateClass&quot;:&quot;PI::P13N::ViewTemplates::ProductDetails::Desktop::Base&quot;,&quot;forceFreshWin&quot;:0,&quot;featureId&quot;:&quot;SC_RHF&quot;,&quot;reftagPrefix&quot;:&quot;pd_rhf_cr_s_pd_crcd_0&quot;,&quot;imageHeight&quot;:&quot;135&quot;,&quot;faceoutTemplateClass&quot;:&quot;PI::P13N::ViewTemplates::Product::Desktop::CarouselFaceout&quot;,&quot;imageWidth&quot;:&quot;135&quot;,&quot;auiDeviceType&quot;:&quot;desktop&quot;,&quot;schemaVersion&quot;:2,&quot;relatedRequestID&quot;:&quot;8KR6S4K6NFEST7TEZ0TZ&quot;,&quot;productDataFlavor&quot;:&quot;Faceout&quot;,&quot;maxLineCount&quot;:6,&quot;faceoutArgs&quot;:&quot;{\&quot;productDetailsTemplateClass\&quot;:\&quot;PI::P13N::ViewTemplates::ProductDetails::Desktop::Base\&quot;}&quot;},&quot;id_list&quot;:[&quot;B07X7X2BM3:&quot;,&quot;B07TP1RLW1:&quot;,&quot;B07Y2LDZ35:&quot;,&quot;B07XF6PVKT:&quot;,&quot;B07XRG2PLW:&quot;,&quot;B07VJLDXRH:&quot;,&quot;B07YZM2C7K:&quot;,&quot;B07XJ1LHQ7:&quot;,&quot;B07TBYKT84:&quot;,&quot;B07XT21T42:&quot;,&quot;B07WRQNC8N:&quot;,&quot;B07W5TDP18:&quot;,&quot;B07SWHMNGZ:&quot;,&quot;B07X3894SJ:&quot;,&quot;B07Y55H2PF:&quot;,&quot;B07X31CP7G:&quot;,&quot;B07V4RQGH4:&quot;,&quot;B07VFSSDPN:&quot;,&quot;B07WH29TLB:&quot;,&quot;B07X7YLZKG:&quot;,&quot;B07TT2KHJM:&quot;,&quot;B07XBVRCDT:&quot;,&quot;B07WTSJZCZ:&quot;,&quot;B07WRYR321:&quot;,&quot;B07W1K6TXT:&quot;,&quot;B07TWLXJX9:&quot;,&quot;B07VJ6BYJW:&quot;,&quot;B07VD84H2K:&quot;,&quot;B07GDZ4W97:&quot;,&quot;B07SM4Z98K:&quot;,&quot;B07B8YMVYW:&quot;,&quot;B07TTNS53J:&quot;,&quot;B07PWZBLML:&quot;,&quot;B07XLG1Y9F:&quot;,&quot;B07PZ6NHGL:&quot;,&quot;B07WLD6RWB:&quot;,&quot;B07VJX6H1D:&quot;,&quot;B07Q82LRDK:&quot;,&quot;B07TSS66SK:&quot;,&quot;B07TWFSTX4:&quot;,&quot;B0776R9CJ8:&quot;,&quot;B07F3L35LP:&quot;,&quot;B07RVNCBJF:&quot;,&quot;B07J694TB1:&quot;,&quot;B07TJVL5ZF:&quot;,&quot;B07GPSN7GL:&quot;,&quot;B073WR7CGM:&quot;,&quot;B06XR9B3ZR:&quot;],&quot;url&quot;:&quot;/gp/p13n-shared/faceout-partial&quot;,&quot;id_param_name&quot;:&quot;asins&quot;},&quot;baseAsin&quot;:&quot;&quot;,&quot;name&quot;:null,&quot;set_size&quot;:48}" data-p13n-feature-metadata="{&quot;pd_rd_wg&quot;:&quot;o5CUV&quot;,&quot;pf_rd_r&quot;:&quot;8KR6S4K6NFEST7TEZ0TZ&quot;,&quot;pd_rd_r&quot;:&quot;b2e71efc-c80c-488f-a838-c3e20875777b&quot;,&quot;pf_rd_p&quot;:&quot;6931e2a1-eabf-430f-9c86-72c4ad03fd1e&quot;,&quot;pd_rd_w&quot;:&quot;on3LJ&quot;}" data-p13n-feature-name="pd_rhf_cr_s_pd_crcd_0" data-p13n-global="{&quot;auiDeviceType&quot;:&quot;desktop&quot;,&quot;marketplaceId&quot;:&quot;A1PA6795UKMFR9&quot;,&quot;requestId&quot;:&quot;8KR6S4K6NFEST7TEZ0TZ&quot;,&quot;marketplace&quot;:&quot;DE&quot;,&quot;customerId&quot;:0,&quot;session&quot;:&quot;262-7091204-2937867&quot;}" data-a-display-strategy="swap" data-a-transition-strategy="swap" data-a-class="desktop" class="a-begin a-carousel-container a-carousel-display-swap a-carousel-transition-swap a-spacing-top-medium  p13n-sc-carousel a-carousel-initialized"><input autocomplete="on" type="hidden" class="a-carousel-firstvisibleitem" value="1">--}%
%{--                        <div class="a-row a-carousel-header-row a-size-large"><div class="a-column a-span8"><h2 class="a-carousel-heading">Inspired by your browsing history</h2></div><div class="a-column a-span4 a-span-last a-text-right"><span class="a-carousel-pagination a-size-base" style="visibility: visible;"><span class="a-carousel-page-count">Page <span class="a-carousel-page-current">1</span> of <span class="a-carousel-page-max">6</span>  </span><span class="a-carousel-restart-container" style="display: none;"><span class="a-text-separator"></span><a class="a-carousel-restart" href="#">Start over</a></span><span class="a-carousel-accessibility-page-info a-offscreen" aria-live="polite">Page 1 of 6  </span></span></div></div>--}%
%{--                        <span class="aok-offscreen p13n-sc-offscreen">This shopping feature will continue to load items when the Enter key is pressed. In order to navigate out of this carousel please use your heading shortcut key to navigate to the next or previous heading.</span>--}%

%{--                        <div class="a-row a-carousel-controls a-carousel-row a-carousel-has-buttons"><div class="a-carousel-row-inner"><div class="a-carousel-col a-carousel-left" style="height: 255px; visibility: visible;"><a class="a-button a-button-image a-carousel-button a-carousel-goto-prevpage" tabindex="0" href="#" style="top: 102px;"><span class="a-button-inner"><i class="a-icon a-icon-previous"><span class="a-icon-alt">Back</span></i></span></a></div><div class="a-carousel-col a-carousel-center"><div class="a-carousel-viewport" id="anonCarousel1" style="height: 255px;"><ol class="a-carousel" role="list" aria-busy="false"><li class="a-carousel-card aok-float-left" role="listitem" aria-setsize="48" aria-posinset="1" aria-hidden="false" style="margin-left: 29px;"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_1&quot;,&quot;asin&quot;:&quot;B07X7X2BM3&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07X7X2BM3/ref=pd_rhf_cr_s_pd_crcd_0_1/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07X7X2BM3&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="Arbily Bluetooth Headphones Wireless Headphones In-Ear Sports Earphones 30 Hours Playtime Headphones Bloothooth Wireless Gift for Children Adults" src="https://images-na.ssl-images-amazon.com/images/I/61ujthVFVOL._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/61ujthVFVOL._AC_UL270_SR270,270_.jpg&quot;:[270,270],&quot;https://images-na.ssl-images-amazon.com/images/I/61ujthVFVOL._AC_UL405_SR405,405_.jpg&quot;:[405,405],&quot;https://images-na.ssl-images-amazon.com/images/I/61ujthVFVOL._AC_UL135_SR135,135_.jpg&quot;:[135,135]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="Arbily Bluetooth Headphones Wireless Headphones In-Ear Sports Earphones 30 Hours Playtime Headphones Bloothooth Wireless Gift for Children Adults">Arbily Bluetooth Headphones Wireless Headphones In-Ear Sports Earphones 30 Hours…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="4.8 out of 5 stars" href="/product-reviews/B07X7X2BM3/ref=pd_rhf_cr_s_pd_crcd_0_cr_1/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07X7X2BM3&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">4.8 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07X7X2BM3/ref=pd_rhf_cr_s_pd_crcd_0_cr_1/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07X7X2BM3&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">54</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07X7X2BM3/ref=pd_rhf_cr_s_pd_crcd_0_1/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07X7X2BM3&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€33.99</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li><li class="a-carousel-card aok-float-left" role="listitem" aria-setsize="48" aria-posinset="2" aria-hidden="false" style="margin-left: 29px;"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_2&quot;,&quot;asin&quot;:&quot;B07TP1RLW1&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07TP1RLW1/ref=pd_rhf_cr_s_pd_crcd_0_2/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07TP1RLW1&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="Ekrist Powerbank 26800 mAh High Capacity External Battery with 2 Port Output Ultra Compact Battery Pack with 4 LEDs Portable Charger External Battery Pack Power Bank for iPhone Samsung Galaxy Black" src="https://images-na.ssl-images-amazon.com/images/I/51QAgC0hG0L._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/51QAgC0hG0L._AC_UL405_SR405,405_.jpg&quot;:[405,405],&quot;https://images-na.ssl-images-amazon.com/images/I/51QAgC0hG0L._AC_UL135_SR135,135_.jpg&quot;:[135,135],&quot;https://images-na.ssl-images-amazon.com/images/I/51QAgC0hG0L._AC_UL270_SR270,270_.jpg&quot;:[270,270]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="Ekrist Powerbank 26800 mAh High Capacity External Battery with 2 Port Output Ultra Compact Battery Pack with 4 LEDs Portable Charger External Battery Pack Power Bank for iPhone Samsung Galaxy Black">Ekrist Powerbank 26800 mAh High Capacity External Battery with 2 Port Output Ultra…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="4.9 out of 5 stars" href="/product-reviews/B07TP1RLW1/ref=pd_rhf_cr_s_pd_crcd_0_cr_2/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07TP1RLW1&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">4.9 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07TP1RLW1/ref=pd_rhf_cr_s_pd_crcd_0_cr_2/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07TP1RLW1&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">192</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07TP1RLW1/ref=pd_rhf_cr_s_pd_crcd_0_2/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07TP1RLW1&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€27.95</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li><li class="a-carousel-card aok-float-left" role="listitem" aria-setsize="48" aria-posinset="3" aria-hidden="false" style="margin-left: 29px;"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_3&quot;,&quot;asin&quot;:&quot;B07Y2LDZ35&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07Y2LDZ35/ref=pd_rhf_cr_s_pd_crcd_0_3/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07Y2LDZ35&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="Muzili Bluetooth Headphones In-Ear Wireless Bluetooth 5.0 Waterproof Sports Headphones with HiFi Stereo Sound Range up to 15 m CVC8.0 Noise Cancelling Portable Charging Box for iOS Android" src="https://images-na.ssl-images-amazon.com/images/I/61jNW1omB8L._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/61jNW1omB8L._AC_UL270_SR270,270_.jpg&quot;:[270,270],&quot;https://images-na.ssl-images-amazon.com/images/I/61jNW1omB8L._AC_UL135_SR135,135_.jpg&quot;:[135,135],&quot;https://images-na.ssl-images-amazon.com/images/I/61jNW1omB8L._AC_UL405_SR405,405_.jpg&quot;:[405,405]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="Muzili Bluetooth Headphones In-Ear Wireless Bluetooth 5.0 Waterproof Sports Headphones with HiFi Stereo Sound Range up to 15 m CVC8.0 Noise Cancelling Portable Charging Box for iOS Android">Muzili Bluetooth Headphones In-Ear Wireless Bluetooth 5.0 Waterproof Sports…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="4.9 out of 5 stars" href="/product-reviews/B07Y2LDZ35/ref=pd_rhf_cr_s_pd_crcd_0_cr_3/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07Y2LDZ35&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">4.9 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07Y2LDZ35/ref=pd_rhf_cr_s_pd_crcd_0_cr_3/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07Y2LDZ35&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">38</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07Y2LDZ35/ref=pd_rhf_cr_s_pd_crcd_0_3/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07Y2LDZ35&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€29.99</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li><li class="a-carousel-card aok-float-left" role="listitem" aria-setsize="48" aria-posinset="4" aria-hidden="false" style="margin-left: 29px;"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_4&quot;,&quot;asin&quot;:&quot;B07XF6PVKT&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07XF6PVKT/ref=pd_rhf_cr_s_pd_crcd_0_4/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07XF6PVKT&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="Zedela USB C Hub, 9 in 1 Dual Display USB C Adapter with HDMI, VGA, SD/Micro SD Card Reader, Type C PD, Mic/Audio, USB 3.0 Ports for MacBook Pro/Air, Chromebook, Samsung S10, Huawei Mate 10/P30 etc." src="https://images-na.ssl-images-amazon.com/images/I/71J9Na6lKbL._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/71J9Na6lKbL._AC_UL135_SR135,135_.jpg&quot;:[135,135],&quot;https://images-na.ssl-images-amazon.com/images/I/71J9Na6lKbL._AC_UL270_SR270,270_.jpg&quot;:[270,270],&quot;https://images-na.ssl-images-amazon.com/images/I/71J9Na6lKbL._AC_UL405_SR405,405_.jpg&quot;:[405,405]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="Zedela USB C Hub, 9 in 1 Dual Display USB C Adapter with HDMI, VGA, SD/Micro SD Card Reader, Type C PD, Mic/Audio, USB 3.0 Ports for MacBook Pro/Air, Chromebook, Samsung S10, Huawei Mate 10/P30 etc.">Zedela USB C Hub, 9 in 1 Dual Display USB C Adapter with HDMI, VGA, SD/Micro SD Card…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="5.0 out of 5 stars" href="/product-reviews/B07XF6PVKT/ref=pd_rhf_cr_s_pd_crcd_0_cr_4/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07XF6PVKT&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">5.0 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07XF6PVKT/ref=pd_rhf_cr_s_pd_crcd_0_cr_4/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07XF6PVKT&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">48</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07XF6PVKT/ref=pd_rhf_cr_s_pd_crcd_0_4/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07XF6PVKT&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€29.98</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li><li class="a-carousel-card aok-float-left" role="listitem" aria-setsize="48" aria-posinset="5" aria-hidden="false" style="margin-left: 29px;"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_5&quot;,&quot;asin&quot;:&quot;B07XRG2PLW&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07XRG2PLW/ref=pd_rhf_cr_s_pd_crcd_0_5/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07XRG2PLW&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="ZeaLife Car Charger 2-Port USB Car Charger 45W Type C PD Car Charger with 18W QC3.0 Quick Charger for iPhone XS/Max/XR/X/8, Galaxy 10/10+/S9/S8, Huawei, MacBook, MP3 etc. Black" src="https://images-na.ssl-images-amazon.com/images/I/51YIrYSTJ2L._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/51YIrYSTJ2L._AC_UL135_SR135,135_.jpg&quot;:[135,135],&quot;https://images-na.ssl-images-amazon.com/images/I/51YIrYSTJ2L._AC_UL405_SR405,405_.jpg&quot;:[405,405],&quot;https://images-na.ssl-images-amazon.com/images/I/51YIrYSTJ2L._AC_UL270_SR270,270_.jpg&quot;:[270,270]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="ZeaLife Car Charger 2-Port USB Car Charger 45W Type C PD Car Charger with 18W QC3.0 Quick Charger for iPhone XS/Max/XR/X/8, Galaxy 10/10+/S9/S8, Huawei, MacBook, MP3 etc. Black">ZeaLife Car Charger 2-Port USB Car Charger 45W Type C PD Car Charger with 18W QC3.0 Quick…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="5.0 out of 5 stars" href="/product-reviews/B07XRG2PLW/ref=pd_rhf_cr_s_pd_crcd_0_cr_5/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07XRG2PLW&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">5.0 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07XRG2PLW/ref=pd_rhf_cr_s_pd_crcd_0_cr_5/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07XRG2PLW&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">25</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07XRG2PLW/ref=pd_rhf_cr_s_pd_crcd_0_5/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07XRG2PLW&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€21.99</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li><li class="a-carousel-card aok-float-left" role="listitem" aria-setsize="48" aria-posinset="6" aria-hidden="false" style="margin-left: 29px;"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_6&quot;,&quot;asin&quot;:&quot;B07VJLDXRH&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07VJLDXRH/ref=pd_rhf_cr_s_pd_crcd_0_6/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07VJLDXRH&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="2019 super bright 138LED-1400 lumens outdoor solar lights with motion sensor, 2019 super bright outdoor LED solar lights with motion sensor, pack of 2." src="https://images-na.ssl-images-amazon.com/images/I/71gpI5uLPgL._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/71gpI5uLPgL._AC_UL405_SR405,405_.jpg&quot;:[405,405],&quot;https://images-na.ssl-images-amazon.com/images/I/71gpI5uLPgL._AC_UL135_SR135,135_.jpg&quot;:[135,135],&quot;https://images-na.ssl-images-amazon.com/images/I/71gpI5uLPgL._AC_UL270_SR270,270_.jpg&quot;:[270,270]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="2019 super bright 138LED-1400 lumens outdoor solar lights with motion sensor, 2019 super bright outdoor LED solar lights with motion sensor, pack of 2.">2019 super bright 138LED-1400 lumens outdoor solar lights with motion sensor, 2019…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="4.8 out of 5 stars" href="/product-reviews/B07VJLDXRH/ref=pd_rhf_cr_s_pd_crcd_0_cr_6/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07VJLDXRH&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">4.8 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07VJLDXRH/ref=pd_rhf_cr_s_pd_crcd_0_cr_6/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07VJLDXRH&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">120</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07VJLDXRH/ref=pd_rhf_cr_s_pd_crcd_0_6/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07VJLDXRH&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€27.95</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li><li class="a-carousel-card aok-float-left" role="listitem" aria-setsize="48" aria-posinset="7" aria-hidden="false" style="margin-left: 29px;"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_7&quot;,&quot;asin&quot;:&quot;B07YZM2C7K&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07YZM2C7K/ref=pd_rhf_cr_s_pd_crcd_0_7/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07YZM2C7K&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="Ceramic Fan Heater, Portable Electric Heater Adjustable Thermostat Time Setting Tilt and Overheating Protection with 7 Adjustable Colourful Night Lights for Office Table and Home Use" src="https://images-na.ssl-images-amazon.com/images/I/71yECSF%2BR4L._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/71yECSF%2BR4L._AC_UL405_SR405,405_.jpg&quot;:[405,405],&quot;https://images-na.ssl-images-amazon.com/images/I/71yECSF%2BR4L._AC_UL135_SR135,135_.jpg&quot;:[135,135],&quot;https://images-na.ssl-images-amazon.com/images/I/71yECSF%2BR4L._AC_UL270_SR270,270_.jpg&quot;:[270,270]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="Ceramic Fan Heater, Portable Electric Heater Adjustable Thermostat Time Setting Tilt and Overheating Protection with 7 Adjustable Colourful Night Lights for Office Table and Home Use">Ceramic Fan Heater, Portable Electric Heater Adjustable Thermostat Time Setting Tilt and…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="5.0 out of 5 stars" href="/product-reviews/B07YZM2C7K/ref=pd_rhf_cr_s_pd_crcd_0_cr_7/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07YZM2C7K&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">5.0 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07YZM2C7K/ref=pd_rhf_cr_s_pd_crcd_0_cr_7/262-7091204-2937867?ie=UTF8&amp;pd_rd_i=B07YZM2C7K&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">2</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07YZM2C7K/ref=pd_rhf_cr_s_pd_crcd_0_7/262-7091204-2937867?_encoding=UTF8&amp;pd_rd_i=B07YZM2C7K&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€39.99</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li><li class="a-carousel-card" role="listitem" aria-setsize="48" aria-posinset="8" style="width:160px; margin-left:29px;" aria-hidden="false"><div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_cr_s_pd_crcd_0_8&quot;,&quot;asin&quot;:&quot;B07XJ1LHQ7&quot;}" class="a-section a-spacing-none p13n-asin">--}%
%{--                            <a class="a-link-normal" href="/dp/B07XJ1LHQ7/ref=pd_rhf_cr_s_pd_crcd_0_8?_encoding=UTF8&amp;pd_rd_i=B07XJ1LHQ7&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><div class="a-section a-spacing-mini"><img alt="Type C Earphones Kimwood HiFi Stereo USB Type C Headphones with Microphone and Volume Control for Google Pixel3/2/3XL/2XL, Huawei P30/P20Pro, iPad Pro 2018, OnePlus 7 Pro, Xiao mi 8 se/ 9" src="https://images-na.ssl-images-amazon.com/images/I/518WSzOMxdL._AC_UL405_SR405,405_.jpg" class="a-dynamic-image p13n-sc-dynamic-image" height="135" width="135" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/518WSzOMxdL._AC_UL270_SR270,270_.jpg&quot;:[270,270],&quot;https://images-na.ssl-images-amazon.com/images/I/518WSzOMxdL._AC_UL405_SR405,405_.jpg&quot;:[405,405],&quot;https://images-na.ssl-images-amazon.com/images/I/518WSzOMxdL._AC_UL135_SR135,135_.jpg&quot;:[135,135]}"></div>--}%
%{--                                <div class="p13n-sc-truncated" aria-hidden="true" data-rows="4" title="Type C Earphones Kimwood HiFi Stereo USB Type C Headphones with Microphone and Volume Control for Google Pixel3/2/3XL/2XL, Huawei P30/P20Pro, iPad Pro 2018, OnePlus 7 Pro, Xiao mi 8 se/ 9">Type C Earphones Kimwood HiFi Stereo USB Type C Headphones with Microphone and Volume…</div>--}%
%{--                            </a>--}%

%{--                            <div class="a-icon-row a-spacing-none">--}%
%{--                                <a class="a-link-normal" title="4.5 out of 5 stars" href="/product-reviews/B07XJ1LHQ7/ref=pd_rhf_cr_s_pd_crcd_0_cr_8?ie=UTF8&amp;pd_rd_i=B07XJ1LHQ7&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <i class="a-icon a-icon-star a-star-4-5"><span class="a-icon-alt">4.5 out of 5 stars</span></i>--}%
%{--                                </a>--}%
%{--                                <a class="a-size-small a-link-normal" href="/product-reviews/B07XJ1LHQ7/ref=pd_rhf_cr_s_pd_crcd_0_cr_8?ie=UTF8&amp;pd_rd_i=B07XJ1LHQ7&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">24</a>--}%
%{--                            </div>--}%
%{--                            <div class="a-row"><a class="a-link-normal a-text-normal" href="/dp/B07XJ1LHQ7/ref=pd_rhf_cr_s_pd_crcd_0_8?_encoding=UTF8&amp;pd_rd_i=B07XJ1LHQ7&amp;pd_rd_r=b2e71efc-c80c-488f-a838-c3e20875777b&amp;pd_rd_w=on3LJ&amp;pd_rd_wg=o5CUV&amp;pf_rd_p=6931e2a1-eabf-430f-9c86-72c4ad03fd1e&amp;pf_rd_r=8KR6S4K6NFEST7TEZ0TZ&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ"><span class="a-size-base a-color-price"><span class="p13n-sc-price">€15.99</span></span></a>   <span style="position: relative; top: 2px;"><i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime"></i></span></div>--}%
%{--                        </div></li></ol></div></div><div class="a-carousel-col a-carousel-right" style="height: 255px; visibility: visible;"><a class="a-button a-button-image a-carousel-button a-carousel-goto-nextpage" tabindex="0" href="#" style="top: 102px;"><span class="a-button-inner"><i class="a-icon a-icon-next"><span class="a-icon-alt">Next</span></i></span></a></div></div></div>--}%

%{--                        <span class="a-end aok-hidden"></span></div>--}%








%{--                </div>--}%
%{--            </div>--}%
%{--            <div class="rhf-divider-no-gradient"></div>--}%

%{--            <div class="rhf-footer">--}%
%{--                <div class="rvi-container-v2">--}%



%{--                    <div class="rhf-sign-in-button-box">--}%










%{--                        <div class="rhf-sign-in-button">--}%
%{--                            <div class="rhf-sign-in-title">See personalised recommendations</div>--}%
%{--                            <a class="action-button" href="/gp/navigation/redirector.html/ref=sign-in-redirect?ie=UTF8&amp;associationHandle=deflex&amp;currentPageURL=https%3A%2F%2Fwww.amazon.de%2Fgp%2Fyourstore%2Fhome%3Fie%3DUTF8%26ref_%3Drhf_custrec_signin&amp;pageType=&amp;switchAccount=&amp;yshURL=https%3A%2F%2Fwww.amazon.de%2Fgp%2Fyourstore%2Fhome%3Fie%3DUTF8%26ref_%3Drhf_custrec_signin">--}%
%{--                                <span class="action-inner" width="50px">Sign in</span>--}%
%{--                            </a>--}%
%{--                            <div class="rhf-sign-in-tooltip-new-customer">--}%
%{--                                New customer?--}%
%{--                                <a class="sign-in-tooltip-link" href="https://www.amazon.de/ap/register?_encoding=UTF8&amp;openid.assoc_handle=deflex&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.mode=checkid_setup&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;openid.pape.max_auth_age=0&amp;openid.return_to=https%3A%2F%2Fwww.amazon.de%2Fgp%2Fyourstore%2Fhome%3Fie%3DUTF8%26ref_%3Drhf_custrec_newcust">Start here.</a>--}%
%{--                            </div>--}%
%{--                        </div>--}%
%{--                    </div>--}%
%{--                    <div data-a-carousel-options="{}" data-a-display-strategy="swap" data-a-transition-strategy="swap" class="a-begin a-carousel-container a-carousel-display-swap a-carousel-transition-swap a-carousel-initialized"><input autocomplete="on" type="hidden" class="a-carousel-firstvisibleitem">--}%

%{--                        <div class="a-row a-carousel-header-row a-size-medium"><div class="a-column a-span8"><h2 class="a-carousel-heading">Your browsing history<a class="a-size-small a-link-normal ybh-inline-edit-link" href="/gp/yourstore/pym/ref=pd_pyml_rhf">View or edit your browsing history&nbsp;&nbsp;&nbsp;&nbsp;›</a></h2></div><div class="a-column a-span4 a-span-last a-text-right"><span class="a-carousel-pagination a-size-base" style="visibility: hidden;"><span class="a-carousel-page-count">Page <span class="a-carousel-page-current">1</span> of <span class="a-carousel-page-max">1</span>  </span><span class="a-carousel-restart-container" style="display: none;"><span class="a-text-separator"></span><a class="a-carousel-restart" href="#">Start over</a></span><span class="a-carousel-accessibility-page-info a-offscreen" aria-live="polite">Page 1 of 1  </span></span></div></div>--}%
%{--                        <div class="a-row a-carousel-controls a-carousel-row a-carousel-has-buttons"><div class="a-carousel-row-inner"><div class="a-carousel-col a-carousel-left" style="height: 100px; visibility: hidden;"><a class="a-button a-button-image a-carousel-button a-carousel-goto-prevpage" tabindex="0" href="#" style="top: 40px;"><span class="a-button-inner"><i class="a-icon a-icon-previous"><span class="a-icon-alt">Previous page</span></i></span></a></div><div class="a-carousel-col a-carousel-center"><div class="a-carousel-viewport" id="anonCarousel2" style="height: 100px;"><ol class="a-carousel" role="list"><li class="a-carousel-card rvi-item" role="listitem" aria-setsize="2" aria-posinset="1" aria-hidden="false" style="margin-left: 22px;">--}%
%{--                            <span id="rhfAsinRow-B07Y3CCF7T" title="Bluetooth Headphones Wireless Axloie Earphones Bluetooth 5.0 in Ear Waterproof Headset Wireless Sport HD Stereo Microphone for iPhone Android Tablet">--}%
%{--                                <a href="/dp/B07Y3CCF7T/ref=pd_rhf_cr_p_img_1?_encoding=UTF8&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <img src="https://images-na.ssl-images-amazon.com/images/I/61Gj7K1mWBL._AC_UL100_SR100,100_.jpg" alt="Bluetooth Headphones Wireless Axloie Earphones Bluetooth 5.0 in Ear Waterproof Headset Wireless Sport HD Stereo Microphone for iPhone Android Tablet" height="100px" width="100px">--}%
%{--                                </a>--}%
%{--                            </span>--}%
%{--                        </li><li class="a-carousel-card rvi-item" role="listitem" aria-setsize="2" aria-posinset="2" aria-hidden="false" style="margin-left: 22px;">--}%
%{--                            <span id="rhfAsinRow-B07YF9PQ5M" title="MP3 Player, Wodgreat 8GB MP3 Player Sport MP4 Player 100 Hours Standby Time Lossless Sound Music Player with Headphones Speaker FM Radio E-Book Video Voice Recorder Supports up to 128GB">--}%
%{--                                <a href="/dp/B07YF9PQ5M/ref=pd_rhf_cr_p_img_2?_encoding=UTF8&amp;psc=1&amp;refRID=8KR6S4K6NFEST7TEZ0TZ">--}%
%{--                                    <img src="https://images-na.ssl-images-amazon.com/images/I/517IW6LOolL._AC_UL100_SR100,100_.jpg" alt="MP3 Player, Wodgreat 8GB MP3 Player Sport MP4 Player 100 Hours Standby Time Lossless Sound Music Player with Headphones Speaker FM Radio E-Book Video Voice Recorder Supports up to 128GB" height="100px" width="100px">--}%
%{--                                </a>--}%
%{--                            </span>--}%
%{--                        </li></ol></div></div><div class="a-carousel-col a-carousel-right" style="height: 100px; visibility: hidden;"><a class="a-button a-button-image a-carousel-button a-carousel-goto-nextpage" tabindex="0" href="#" style="top: 40px;"><span class="a-button-inner"><i class="a-icon a-icon-next"><span class="a-icon-alt">Next page</span></i></span></a></div></div></div>--}%
%{--                        <span class="a-end aok-hidden"></span></div>--}%
%{--                </div>--}%
%{--                <div style="clear: both;"></div>--}%
%{--            </div>--}%

%{--        </div></div><noscript>--}%

%{--        <div class="rhf-border">--}%

%{--            <div class="rhf-header">--}%
%{--                Your recently viewed items and featured recommendations--}%
%{--            </div>--}%

%{--            <div class="rhf-footer">--}%
%{--                <div class="rvi-container">--}%

%{--                    <div class="ybh-edit">--}%
%{--                        <div class="ybh-edit-arrow"> &#8250; </div>--}%
%{--                        <div class="ybh-edit-link"><a href="/gp/yourstore/pym/ref=pd_pyml_rhf">View or edit your browsing history</a></div>--}%
%{--                    </div>--}%
%{--                    <span class="no-rvi-message">After viewing product detail pages, look here to find an easy way to navigate back to pages you are interested in.</span>--}%
%{--                </div>--}%
%{--            </div>--}%
%{--        </div>--}%
%{--    </noscript><div id="rhf-error" style="display:none;">--}%

%{--        <div class="rhf-border">--}%

%{--            <div class="rhf-header">--}%
%{--                Your recently viewed items and featured recommendations--}%
%{--            </div>--}%

%{--            <div class="rhf-footer">--}%
%{--                <div class="rvi-container">--}%

%{--                    <div class="ybh-edit">--}%
%{--                        <div class="ybh-edit-arrow"> › </div>--}%
%{--                        <div class="ybh-edit-link"><a href="/gp/yourstore/pym/ref=pd_pyml_rhf">View or edit your browsing history</a></div>--}%
%{--                    </div>--}%
%{--                    <span class="no-rvi-message">After viewing product detail pages, look here to find an easy way to navigate back to pages you are interested in.</span>--}%
%{--                </div>--}%
%{--            </div>--}%
%{--        </div>--}%
%{--    </div>--}%
%{--        <br>--}%
%{--    </div>--}%
%{--</div>--}%


<div class='navLeftFooter nav-sprite-v1' id='navFooter'> <a href="#nav-top" id="navBackToTop"> <div class="navFooterBackToTop"> <span class="navFooterBackToTopText">Zurück zum Seitenanfang</span> </div> </a> <div class="navFooterVerticalColumn navAccessibility" role="presentation"> <div class="navFooterVerticalRow navAccessibility" style="display: table-row;"> <div class="navFooterLinkCol navAccessibility"> <div class="navFooterColHead">Über Amazon</div> <ul> <li class='nav_first'> <a href='/b?ie=UTF8&amp;node=202588011&amp;ref_=footer_careers' class='nav_a'>Karriere bei Amazon</a> </li> <li> <a href='https://amazon-presse.de/' class='nav_a'>Pressemitteilungen</a> </li> <li> <a href='https://www.aboutamazon.de/?utm_source=gateway&amp;utm_medium=footer' class='nav_a'>Über uns</a> </li> <li> <a href='https://blog.aboutamazon.de/' class='nav_a'>Unternehmensblog Day One</a> </li> <li> <a href='http://www.amazon-logistikblog.de/' class='nav_a'>Amazon Logistikblog</a> </li> <li class='nav_last'> <a href='/b?ie=UTF8&amp;node=505050&amp;ref_=footer_nav_legal' class='nav_a'>Impressum</a> </li> </ul> </div> <div class="navFooterColSpacerInner navAccessibility"> </div> <div class="navFooterLinkCol navAccessibility"> <div class="navFooterColHead">Geld verdienen mit Amazon</div> <ul> <li class='nav_first'> <a href='https://services.amazon.de/programme/online-verkaufen/so-funktionierts-pro?ld=AZDESOAFooter' class='nav_a'>Jetzt verkaufen</a> </li> <li> <a href='https://accelerator.amazon.de/?ref_=map_1_b2b_GW_FT' class='nav_a'>Verkaufen Sie unter Private Brands</a> </li> <li> <a href='https://services.amazon.de/programme/b2b-verkaufen/merkmale-und-vorteile.html?ld=AZDEB2BRetailFooter' class='nav_a'>Verkaufen bei Amazon Business</a> </li> <li> <a href='https://services.amazon.de/handmade.htm?ld=AZDEHNDFooter' class='nav_a'>Verkaufen bei Amazon Handmade</a> </li> <li> <a href='https://partnernet.amazon.de' class='nav_a'>Partnerprogramm</a> </li> <li> <a href='https://services.amazon.de/programme/versand-durch-amazon/merkmale-und-vorteile/?ld=AZDEFBAFooter' class='nav_a'>Versand durch Amazon</a> </li> <li> <a href='https://services.amazon.de/programme/primedurchverkaeufer/funktionen-und-vorteile.html/?ld=AZDESFPFooter' class='nav_a'>Prime durch Verkäufer</a> </li> <li> <a href='https://advertising.amazon.de/products-self-serve?ref_=ext_amzn_ftr' class='nav_a'>Bewerben Sie Ihre Produkte</a> </li> <li> <a href='https://kdp.amazon.com/?language=de_DE' class='nav_a'>Ihr Buch mit uns veröffentlichen</a> </li> <li> <a href='https://pay.amazon.com/de?ld=AWREDEAPAFooter' class='nav_a'>Amazon Pay</a> </li> <li class='nav_last nav_a_carat'> <span class="nav_a_carat">&rsaquo;</span> <a href='/gp/seller-account/mm-landing.html?ie=UTF8&amp;ref_=footer_seeall&amp;topic=200330420' class='nav_a'>Alle anzeigen</a> </li> </ul> </div> <div class="navFooterColSpacerInner navAccessibility"> </div> <div class="navFooterLinkCol navAccessibility"> <div class="navFooterColHead">Amazon-Zahlungsarten</div> <ul> <li class='nav_first'> <a href='/dp/B00OSAGJTY?_encoding=UTF8&amp;ref_=footer_cbcc' class='nav_a'>Amazon.de VISA Karte</a> </li> <li> <a href='/b?ie=UTF8&amp;node=15426871031&amp;ref_=footer_swp' class='nav_a'>Einkaufen mit Punkten</a> </li> <li> <a href='/b?ie=UTF8&amp;node=459632031&amp;ref_=footer_moneystore' class='nav_a'>Kreditkarten</a> </li>  <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=GFB7JMU32WA3P66Y&amp;ref_=footer_rechnung' class='nav_a'>Monatsabrechnung</a> </li> <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=504928&amp;ref_=footer_bankeinzug' class='nav_a'>Bankeinzug</a> </li> <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=200219670&amp;ref_=footer_tfx' class='nav_a'>Amazon Currency Converter</a> </li> <li> <a href='/gp/gc/create?ie=UTF8&amp;ref_=footer_topup_de' class='nav_a'>Mein Amazon-Konto aufladen</a> </li> <li class='nav_last'> <a href='/b?ie=UTF8&amp;node=13847036031&amp;ref_=footer_purchase_code' class='nav_a'>Amazon vor Ort aufladen</a> </li> </ul> </div> <div class="navFooterColSpacerInner navAccessibility"> </div> <div class="navFooterLinkCol navAccessibility"> <div class="navFooterColHead">Wir helfen Ihnen</div> <ul> <li class='nav_first'> <a href='/gp/css/order-history?ie=UTF8&amp;ref_=footer_hp_ss_comp_tmp' class='nav_a'>Lieferung verfolgen oder Bestellung anzeigen</a> </li> <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=504938&amp;ref_=footer_shiprates' class='nav_a'>Versand & Verfügbarkeit</a> </li> <li> <a href='/gp/subs/primeclub/signup/main.html?ie=UTF8&amp;ref_=footer_prime' class='nav_a'>Amazon Prime</a> </li> <li> <a href='/gp/css/returns/homepage.html?ie=UTF8&amp;ref_=footer_hy_f_4' class='nav_a'>Rückgabe & Ersatz</a> </li> <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=201819410&amp;ref_=footer_disposal' class='nav_a'>Entsorgung von Elektro- & Elektronikaltgeräten</a> </li> <li> <a href='/gp/digital/fiona/manage?ie=UTF8&amp;ref_=footer_myk' class='nav_a'>Meine Inhalte und Geräte</a> </li> <li> <a href='/b?ie=UTF8&amp;node=4951330031&amp;ref_=footer_mobapp' class='nav_a'>Amazon App</a> </li> <li> <a href='/gp/BIT/ref=footer_bit_v2_e0002?bitCampaignCode=e0002' class='nav_a'>Amazon Assistant</a> </li> <li class='nav_last'> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=504874&amp;ref_=footer_gw_m_b_he' class='nav_a'>Hilfe</a> </li> </ul> </div> </div> </div> <div class="nav-footer-line"> </div> <div class="navFooterLine navFooterLinkLine navFooterPadItemLine"> <span> <div class="navFooterLine navFooterLogoLine"> <a href="https://www.amazon.de/ref=footer_logo"> <div class="nav-logo-base nav-sprite"> </div> </a> </div> </span> <ul> </ul> <span class="icp-container-desktop"> <div class="navFooterLine"> <style type="text/css"> #icp-touch-link-language { display: none; } </style> <a href="https://www.amazon.de/gp/customer-preferences/select-language/ref=footer_lang_t2?ie=UTF8&preferencesReturnUrl=%2F" class="icp-button" id="icp-touch-link-language"> <div class="icp-nav-globe-img-2 icp-button-globe-2"> </div> <span class="icp-color-base">Deutsch</span> <span class="nav-arrow icp-up-down-arrow"> </span> <span class="aok-hidden" style="display:none">Wählen Sie eine Sprache für Ihren Einkauf.</span> </a> <style type="text/css"> #icp-touch-link-country { display: none; } </style> <a href="https://www.amazon.de/gp/navigation-country/select-country/ref=footer_icp_cp_t2?ie=UTF8&preferencesReturnUrl=%2F" class="icp-button" id="icp-touch-link-country"> <span class="icp-flag-3 icp-flag-3-de"> </span> <span class="icp-color-base">Deutschland</span> <span class="aok-hidden" style="display:none">Wählen Sie ein Land/eine Region für Ihren Einkauf.</span> </a> </div> </span> <ul> </ul> </div> <div class="navFooterLine navFooterLinkLine navFooterDescLine"> <table class="navFooterMoreOnAmazon" cellspacing="0"> <tr> <td class="navFooterDescItem"> <a href='https://advertising.amazon.de/?ref=footer_advtsing_2_de' class='nav_a'>Amazon Advertising<br/> <span class="navFooterDescText">Kunden finden, gewinnen<br/> und binden</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://music.amazon.de?ref=dm_aff_amz_de' class='nav_a'>Amazon Music<br/> <span class="navFooterDescText">Streamen Sie Millionen<br/> von Songs</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://www.abebooks.de' class='nav_a'>AbeBooks<br/> <span class="navFooterDescText">Bücher, Kunst<br/> & Sammelobjekte</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://aws.amazon.com/de/?sc_channel=el&amp;sc_campaign=deamazonfooter&amp;sc_publisher=de_amazon&amp;sc_medium=footer&amp;sc_content=&amp;sc_category=AWS_cloud_computing&amp;TRK=EL_de_amazon_footer' class='nav_a'>Amazon Web Services<br/> <span class="navFooterDescText">Cloud Computing Dienste<br/> von Amazon</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://www.audible.de' class='nav_a'> <a href="https://www.audible.de" class="nav_a">Audible</a> <br/> <span class="navFooterDescText">Hörbücher<br/> herunterladen</span> </a> </td> </tr> <tr> <td>&nbsp;</td> </tr> <tr> <td class="navFooterDescItem"> <a href='https://www.bookdepository.com/' class='nav_a'>Book Depository<br/> <span class="navFooterDescText">Bücher mit kostenfreier<br/> Lieferung weltweit</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://www.imdb.com/' class='nav_a'>IMDb<br/> <span class="navFooterDescText">Filme, TV<br/> & Stars</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://kdp.amazon.com/de_DE/' class='nav_a'>Kindle Direct Publishing<br/> <span class="navFooterDescText">Ihr E-Book<br/> veröffentlichen</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://www.amazon.de/primenow/?ref=HOUD12C322_0_GlobalFooter' class='nav_a'>Prime Now<br/> <span class="navFooterDescText">1-Stunden-Lieferung<br/> Tausender Produkte </span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://www.shopbop.com/de/welcome' class='nav_a'>Shopbop<br/> <span class="navFooterDescText">Designer<br/> Modemarken</span> </a> </td> </tr> <tr> <td>&nbsp;</td> </tr> <tr> <td class="navFooterDescItem"> <a href='/b?ie=UTF8&amp;node=3581963031&amp;ref_=footer_wrhsdls' class='nav_a'>Warehouse Deals<br/> <span class="navFooterDescText">Reduzierte B-Ware</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='https://www.zvab.com/index.do?ref=amazon&amp;utm_medium=referral&amp;utm_source=amazon.de' class='nav_a'>ZVAB<br/> <span class="navFooterDescText">Zentrales Verzeichnis<br/> Antiquarischer Bücher und mehr</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='/b?ie=UTF8&amp;node=14154536031&amp;ref_=nav_footer_business' class='nav_a'>Amazon Business<br/> <span class="navFooterDescText">Kauf auf Rechnung. PO-Nummern.<br/> Für Unternehmen.</span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem"> <a href='/amazonsecondchance?_encoding=UTF8&amp;ref_=footer_asc' class='nav_a'>Amazon Second Chance<br/> <span class="navFooterDescText">Geben Sie es weiter, tauschen Sie es ein,<br/> geben Sie ihm ein zweites Leben </span> </a> </td> <td class="navFooterDescSpacer" style="width: 4%"> </td> <td class="navFooterDescItem">&nbsp;</td> </tr> </table> </div> <div class="navFooterLine navFooterLinkLine navFooterPadItemLine navFooterCopyright"> <ul> <li class='nav_first'> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=201909000&amp;ref_=footer_cou' class='nav_a'>Unsere AGB</a> </li> <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=201909010&amp;ref_=footer_privacy' class='nav_a'>Datenschutzerklärung</a> </li> <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=202024860&amp;ref_=footer_impressum' class='nav_a'>Impressum</a> </li> <li> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=201890250&amp;ref_=footer_cookies_notice' class='nav_a'>Hinweise zu Cookies</a> </li> <li class='nav_last'> <a href='/gp/help/customer/display.html?ie=UTF8&amp;nodeId=201909150&amp;ref_=footer_Interest_Based_Ads_Notice' class='nav_a'>Hinweise zu interessenbasierter Werbung</a> </li> </ul> <span>© 1998-2019, Amazon.com, Inc. oder Tochtergesellschaften</span> <ul> </ul> </div></div><!-- whfh-mG+6Pm3rK0WpTJVGxrVmHweUklLInwqa+SHqGjb0zZZ2MtFn7d1hMW2FtgAO6Qpz rid-CXT5P26GFDPGMAA43HPY --><div id="sis_pixel_r2" aria-hidden="true" style="height:1px; position: absolute; left: -1000000px; top: -1000000px;"></div><script>(function (a, b) { a.attachEvent ? a.attachEvent("onload", b) : a.addEventListener && a.addEventListener("load", b, !1)})(window, function () { setTimeout(function () { var el = document.getElementById("sis_pixel_r2"); el && (el.innerHTML = '<iframe id="DAsis" src="//aax-eu.amazon-adsystem.com/s/iu3?d=amazon.de&slot=navFooter&a2=0101825881d006107133ab5f9e0d5a8bd6773e693e95c58e8e8b3cb512666bc4b922&old_oo=0&ts=1573128119460&s=AbXw_s68sR98iWvSo8sAJ4z6ucRzcZZH8qaXabBwiR3d&cb=1573128119460" width="1" height="1" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"> < /iframe>') }, 300)});</script><!-- footer tilu --><!-- sp:feature:amazon-pay-iframe --><div id='apaypx' aria-hidden='true' style='height:1px; position: absolute; left: -1000000px; top: -1000000px;'></div><script>(function (w, t) { w.attachEvent ? w.attachEvent('onload', t) : w.addEventListener('load', t, !1)})(window, function () { setTimeout(function () { document.getElementById('apaypx').innerHTML = '<iframe id=\'apaypxframe\' src=\'https://coin-eu.amazonpay.com/rb?a2=010150057bbead07f785b5e0f615f53fa24c1e18a256a67479967ff6d514de086798&d=www.amazon.de\' frameborder=0 width=0 height=0>' }, 300)});</script><!-- sp:end-feature:amazon-pay-iframe --><script type="text/javascript">if (window.ue && ue.tag) { ue.tag('FWCIMEnabled');}</script><script> (window.AmazonUIPageJS ? AmazonUIPageJS : P).when('afterLoad').execute(function () { (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('https://images-eu.ssl-images-amazon.com/images/I/71mgm+PaM9L.js?AUIClients/FWCIMAssets'); });</script><div id='be' style="display:none;visibility:hidden;"> <form name='ue_backdetect' action="get"> <input type="hidden" name='ue_back' value='1'/> </form> <script type="text/javascript"> window.ue_ibe = (window.ue_ibe || 0) + 1; if (window.ue_ibe === 1) { (function (e, c) { function h(b, a) { f.push([b, a]) } function g(b, a) { if (b) { var c = e.head || e.getElementsByTagName("head")[0] || e.documentElement, d = e.createElement("script"); d.async = "async"; d.src = b; d.setAttribute("crossorigin", "anonymous"); a && a.onerror && (d.onerror = a.onerror); a && a.onload && (d.onload = a.onload); c.insertBefore(d, c.firstChild) } } function k() { ue.uels = g; for (var b = 0; b < f.length; b++) { var a = f[b]; g(a[0], a[1]) } ue.deffered = 1 } var f = []; c.ue && (ue.uels = h, c.ue.attach && c.ue.attach("load", k)) })(document, window); if (window.ue && window.ue.uels) { var cel_widgets = [{"c": "celwidget"}, { "s": "#nav-swmslot > div", "id_gen": function (elem, index) { return 'nav_sitewide_msg'; } }]; ue.uels("https://images-eu.ssl-images-amazon.com/images/G/01/AUIClients/ClientSideMetricsAUIJavascript@jserrorsForester.10f2559e93ec589d92509318a7e2acbac74c343a._V2_.js"); } var ue_mbl = ue_csm.ue.exec(function (e, a) { function l(f) { b = f || {}; a.AMZNPerformance = b; b.transition = b.transition || {}; b.timing = b.timing || {}; e.ue.exec(m, "csm-android-check")() && b.tags instanceof Array && (f = -1 != b.tags.indexOf("usesAppStartTime") || b.transition.type ? !b.transition.type && -1 < b.tags.indexOf("usesAppStartTime") ? "warm-start" : void 0 : "view-transition", f && (b.transition.type = f)); "reload" === c._nt && e.ue_orct || "intrapage-transition" === c._nt ? a.performance && performance.timing && performance.timing.navigationStart ? b.timing.transitionStart = a.performance.timing.navigationStart : delete b.timing.transitionStart : "undefined" === typeof c._nt && a.performance && performance.timing && performance.timing.navigationStart && a.history && "function" === typeof a.History && "object" === typeof a.history && history.length && 1 != history.length && (b.timing.transitionStart = a.performance.timing.navigationStart); f = b.transition; var d; d = c._nt ? c._nt : void 0; f.subType = d; a.ue && a.ue.tag && a.ue.tag("has-AMZNPerformance"); c.isl && a.uex && uex("at", "csm-timing"); n() } function p(b) { a.ue && a.ue.count && a.ue.count("csm-cordova-plugin-failed", 1) } function m() { return a.webclient && "function" === typeof a.webclient.getRealClickTime ? a.cordova && a.cordova.platformId && "ios" == a.cordova.platformId ? !1 : !0 : !1 } function n() { try { P.register("AMZNPerformance", function () { return b }) } catch (a) { } } function h() { if (!b) return ""; ue_mbl.cnt = null; for (var a = b.timing, d = b.transition, a = ["mts", k(a.transitionStart), "mps", k(a.processStart), "mtt", d.type, "mtst", d.subType, "mtlt", d.launchType], d = "", c = 0; c < a.length; c += 2) { var e = a[c], g = a[c + 1]; "undefined" !== typeof g && (d += "&" + e + "=" + g) } return d } function k(a) { if ("undefined" !== typeof a && "undefined" !== typeof g) return a - g } function q(a, c) { b && (g = c, b.timing.transitionStart = a, b.transition.type = "view-transition", b.transition.subType = "ajax-transition", b.transition.launchType = "normal", ue_mbl.cnt = h) } var c = e.ue || {}, g = e.ue_t0, b; if (a.P && a.P.when && a.P.register) return a.P.when("CSMPlugin").execute(function (a) { a.buildAMZNPerformance && a.buildAMZNPerformance({ successCallback: l, failCallback: p }) }), {cnt: h, ajax: q} }, "mobile-timing")(ue_csm, window); (function (d) { d._uess = function () { var a = ""; screen && screen.width && screen.height && (a += "&sw=" + screen.width + "&sh=" + screen.height); var b = function (a) { var b = document.documentElement["client" + a]; return "CSS1Compat" === document.compatMode && b || document.body["client" + a] || b }, c = b("Width"), b = b("Height"); c && b && (a += "&vw=" + c + "&vh=" + b); return a } })(ue_csm); (function (a) { var b = document.ue_backdetect; b && b.ue_back && a.ue && (a.ue.bfini = b.ue_back.value); a.uet && a.uet("be"); a.onLdEnd && (window.addEventListener ? window.addEventListener("load", a.onLdEnd, !1) : window.attachEvent && window.attachEvent("onload", a.onLdEnd)); a.ueh && a.ueh(0, window, "load", a.onLd, 1); a.ue && a.ue.tag && (a.ue_furl ? (b = a.ue_furl.replace(/\./g, "-"), a.ue.tag(b)) : a.ue.tag("nofls")) })(ue_csm); (function (g, h) { function d(a, d) { var b = {}; if (!e || !f) try { var c = h.sessionStorage; c ? a && ("undefined" !== typeof d ? c.setItem(a, d) : b.val = c.getItem(a)) : f = 1 } catch (g) { e = 1 } e && (b.e = 1); return b } var b = g.ue || {}, a = "", f, e, c, a = d("csmtid"); f ? a = "NA" : a.e ? a = "ET" : (a = a.val, a || (a = b.oid || "NI", d("csmtid", a)), c = d(b.oid), c.e || (c.val = c.val || 0, d(b.oid, c.val + 1)), b.ssw = d); b.tabid = a })(ue_csm, window); ue_csm.ue.exec(function (e, f) { var a = e.ue || {}, b = a._wlo, d; if (a.ssw) { d = a.ssw("CSM_previousURL").val; var c = f.location, b = b ? b : c && c.href ? c.href.split("#")[0] : void 0; c = (b || "") === a.ssw("CSM_previousURL").val; !c && b && a.ssw("CSM_previousURL", b); d = c ? "reload" : d ? "intrapage-transition" : "first-view" } else d = "unknown"; a._nt = d }, "NavTypeModule")(ue_csm, window); ue_csm.ue.exec(function (c, a) { function g(a) { a.run(function (e) { d.tag("csm-feature-" + a.name + ":" + e); d.isl && c.uex("at") }) } if (a.addEventListener) for (var d = c.ue || {}, f = [{ name: "touch-enabled", run: function (b) { var e = function () { a.removeEventListener("touchstart", c, !0); a.removeEventListener("mousemove", d, !0) }, c = function () { b("true"); e() }, d = function () { b("false"); e() }; a.addEventListener("touchstart", c, !0); a.addEventListener("mousemove", d, !0) } }], b = 0; b < f.length; b++) g(f[b]) }, "csm-features")(ue_csm, window); (function (b, c) { var a = c.images; a && a.length && b.ue.count("totalImages", a.length) })(ue_csm, document); (function (b) { function c() { var d = []; a.log && a.log.isStub && a.log.replay(function (a) { e(d, a) }); a.clog && a.clog.isStub && a.clog.replay(function (a) { e(d, a) }); d.length && (a._flhs += 1, n(d), p(d)) } function g() { a.log && a.log.isStub && (a.onflush && a.onflush.replay && a.onflush.replay(function (a) { a[0]() }), a.onunload && a.onunload.replay && a.onunload.replay(function (a) { a[0]() }), c()) } function e(d, b) { var c = b[1], f = b[0], e = {}; a._lpn[c] = (a._lpn[c] || 0) + 1; e[c] = f; d.push(e) }